<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-md-2 col-3 order-lg-1 order-md-2 order-1 image">
                <img src="/assets/vayo-white.jpg" alt="vayo-white" width="60" height="60">
            </div>

            <div class="col-lg-8 col-md-10 col-12 order-lg-2 order-md-3 order-3 h-links">
                <ul class="up">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Investor relations</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Deutsche Telekom</a></li>
                    <li><a href="#">Puerto Rico</a></li>
                </ul>
                <ul class="down">
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Interest-based ads</a></li>
                    <li><a href="#">Privacy Center</a></li>
                    <li><a href="#">Consumer information</a></li>
                    <li><a href="#">Public safety/911</a></li>
                    <li><a href="#">Terms & conditions</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Open Internet</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 col-9 order-lg-3 order-md-1 order-2 social-icon">
                <div class="icon">
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube-play"></a>
                </div>
                <p>
                    Copyright ©2002-2019 Vayo USA, INC
                </p>
            </div>
        </div>
    </div>
</footer>