<div class="desktop-view">
    <div class="container-fluid bg-dark pb-4 pt-4 nv-grad footer-text-color footer-height">
        <div class="row nv-grad mb-3">
            <div class="col-8">
                <p class="heading"><b>Connect with Vayo</b></p>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
            <div class="col-4">
                <button class="bg-dark eng-espan-float"><a href="#">English</a></button>
                <button class="bg-dark eng-espan-float"><a href="#">Espanol</a></button>
            </div>
        </div>

        <div class="footer_content">
            <ul>
                <li class="pad"><a href="#">​<p><b>Phones & Devices</b></p></a>
                    <div>
                        <div class="mb-3"><a href="#">Phones</a></div>
                        <div class="mb-3"><a href="#">Tablets</a></div>
                        <div class="mb-3"><a href="#">SmartWatches</a></div>
                        <div class="mb-3"><a href="#">Accesories</a></div>
                    </div>
                </li>
                <li>
                    <a href="#">
                        <p><b>Apps & Connected Devices</b></p>
                    </a>
                    <div class="mb-3"><a href="#">Family Mode</a></div>
                    <div class="mb-3"><a href="#">DIGITS</a></div>
                    <div class="mb-3"><a href="#">SyncUP DRIVE</a></div>
                </li>
                <li>
                    <a href="#">
                        <p><b>Plans & Information</b></p>
                    </a>
                    <div class="mb-3"><a href="#">Plans Home</a></div>
                    <div class="mb-3"><a href="#">55+</a></div>
                    <div class="mb-3"><a href="#">Military</a></div>
                    <div class="mb-3"><a href="#">Prepaid</a></div>
                    <div class="mb-3"><a href="#">Insurance</a></div>
                    <div class="mb-3"><a href="#">Data pass</a></div>
                    <div class="mb-3"><a href="#">Mobile Internet</a></div>
                </li>
                <li>
                    <a href="#">
                        <p><b>Switch to Vayo</b></p>
                    </a>
                    <div class="mb-3"><a href="#">We’ll help you join</a></div>
                    <div class="mb-3"><a href="#">Savings calculator</a></div>
                    <div class="mb-3"><a href="#">Bring your own device</a></div>
                    <div class="mb-3"><a href="#">Trade-in program</a></div>
                    <div class="mb-3"><a href="#">Number porting</a></div>
                </li>
                <li>
                    <a href="#">
                        <p><b>Vayo benefits</b></p>
                    </a>
                    <div class="mb-3"><a href="#">Magenta Plan benefits</a></div>
                    <div class="mb-3"><a href="#">Travel</a></div>
                </li>
                <li>
                    <a href="#">
                        <p><b>Order info</b></p>
                    </a>
                    <div class="mb-3"><a href="#">Check order status</a></div>
                    <div class="mb-3"><a href="#">View return policy</a></div>
                    <div class="mb-3"><a href="#">Redeem a rebate</a></div>
                </li>
                <li>
                    <a href="#">
                        <p><b>Support</b></p>
                    </a>
                    <div class="mb-3"><a href="#">Contact us</a></div>
                    <div class="mb-3"><a href="#">Phones</a></div>
                    <div class="mb-3"><a href="#">Plans</a></div>
                    <div class="mb-3"><a href="#">Billing</a></div>
                    <div class="mb-3"><a href="#">International</a></div>
                </li>
                <li>
                    <a href="#">
                        <p><b>My account</b></p>
                    </a>
                    <div class="mb-3"><a href="#">Pay my bill</a></div>
                    <div class="mb-3"><a href="#">Upgrade</a></div>
                    <div class="mb-3"><a href="#">Add a line</a></div>
                </li>
                <li>
                    <a href="#">
                        <p><b>More than wireless</b></p>
                    </a>
                    <div class="mb-3"><a href="#">Business</a></div>
                    <div class="mb-3"><a href="#">Prepaid</a></div>
                    <div class="mb-3"><a href="#">TVision</a></div>
                    <div class="mb-3"><a href="#">Vayo Money</a></div>
                    <div class="mb-3"><a href="#">Home Internet</a></div>
                    <div class="mb-3"><a href="#">IoT</a></div>
                </li>
                <li>
                    <a href="#">
                        <p><b>About Vayo</b></p>
                    </a>
                    <div class="mb-3"><a href="#">Our story</a></div>
                    <div class="mb-3"><a href="#">Newsroom</a></div>
                    <div class="mb-3"><a href="#">Investor relations</a></div>
                </li>
                <li>
                    <a href="#">
                        <p><b>Corporate responsibility</b></p>
                    </a>
                    <div class="mb-3"><a href="#">Community</a></div>
                    <div class="mb-3"><a href="#">Sustainability</a></div>
                    <div class="mb-3"><a href="#">Privacy Center</a></div>
                </li>
                <li>
                    <a href="#">
                        <p><b>Careers</b></p>
                    </a>
                    <div class="mb-3"><a href="#">Vayo careers</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid bg-dark">

    <div class="mobile-view">
        <div class="row nv-grad">
            <div class="col-12">
                <p class="heading"><b>Connect with Vayo</b></p>
            </div>
        </div>
        <div class="row nv-grad">
            <div class="col-12">
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 eng-espan ">
                <button class="bg-dark"><a href="#"><b>English</b></a></button>
                <button class="bg-dark"><a href="#">Espanol</a></button>
            </div>
        </div>
        <br>
        <div class="accordion" id="accordionExample">
            <!-- 1 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingOne">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>Phones & Devices</b></button>

                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"></div>

                    </div>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card card-body bg-dark pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item">phones</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">tablets</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">smart watches</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">accessories</button>
                    </div>
                </div>
            </div>

            <!-- 2 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingTwo">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>Apps & connected devices</b></button>
                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"></div>

                    </div>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card card-body bg-dark  pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item"> FamilyMode</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">DIGITS</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">SyncUP DRIVE</button>
                    </div>
                </div>
            </div>

            <!-- 3 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingThree">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>Plans & information
                                    </b></button>
                        </div>

                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"></div>

                    </div>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card card-body bg-dark  pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item"> Plans home</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">55+</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Military</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Prepaid</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Insurance</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Data pass</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Mobile Internet</button>
                    </div>
                </div>
            </div>
            <!-- 4 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingFour">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>Switch to Vayo</b></button>
                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"></div>

                    </div>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card card-body bg-dark  pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item"> We’ll help you join</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Savings calculator</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Bring your own device</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Trade-in program</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Number porting</button>
                    </div>
                </div>
            </div>
            <!-- 5 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingFive">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>Vayo benefits</b></button>
                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"></div>

                    </div>
                </div>

                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card card-body bg-dark  pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item"> Magenta Plan benefits</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Travel</button>
                    </div>
                </div>
            </div>
            <!-- 6 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingSix">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>Order info</b></button>
                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"></div>

                    </div>
                </div>

                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card card-body bg-dark  pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item"> Check order status</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">View return policy</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Redeem a rebate</button>
                    </div>
                </div>
            </div>
            <!-- 7 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingSeven">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>Support</b></button>
                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"></div>

                    </div>
                </div>

                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                    <div class="card card-body bg-dark  pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item"> Contact us</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Phones</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Plans</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Billing</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">International</button>
                    </div>
                </div>
            </div>
            <!-- 8 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingEigth">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>My account</b></button>
                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"></div>

                    </div>
                </div>

                <div id="collapseEight" class="collapse" aria-labelledby="headingEigth" data-parent="#accordionExample">
                    <div class="card card-body bg-dark pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item"> Pay my bill</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Upgrade</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Add a line</button>
                    </div>
                </div>
            </div>
            <!-- 9 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingNine">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>More than wireless</b></button>
                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine"></div>

                    </div>
                </div>

                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                    <div class="card card-body bg-dark  pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item"> Business</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Prepaid</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">TVision</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Vayo Money</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Home Internet</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">IoT</button>
                    </div>
                </div>
            </div>

            <!-- 10 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingTen">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>About Vayo</b></button>
                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen"></div>

                    </div>
                </div>

                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                    <div class="card card-body bg-dark  pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item"> Our story</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Newsroom</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Investor relations</button>
                    </div>
                </div>
            </div>
            <!-- 11 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingEleven">
                    <div class="row ">
                        <div class="col-10">
                            <button class="btn"><b>Corporate responsibility</b></button>
                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven"></div>

                    </div>
                </div>

                <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                    <div class="card card-body bg-dark  pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Community</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Sustainability</button>
                        <button (click)="onClick()" class="btn mb-4 toggled-item">Privacy Center</button>
                    </div>
                </div>
            </div>
            <!-- 12 -->
            <div>
                <div class="card-header bg-dark pl-0" id="headingTwelve">
                    <div class="row">
                        <div class="col-10">
                            <button class="btn"><b>Careers</b></button>
                        </div>
                        <div class="col-2 phoneanddeviceslinks plus-padding" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve"></div>

                    </div>
                </div>

                <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                    <div class="card card-body bg-dark  pt-0 pb-0">
                        <button (click)="onClick()" class="btn mb-4"> Vayo careers</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
