<div class="row offer mb-3 bg-vayo-grey">
    <div class="col-12 col-sm-6 order-sm-2 text-center">
        <img class="iphone-rotate" src="../../../assets/home/[www.t-mobile.com][605]fg-iPhone11-rotate-750x750.png" alt="">
    </div>

    <div class="col-12 col-sm-6 order-sm-1 offer-align-box">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="offer-head">LIMITED-TIME OFFER</div>
                <h2>Get iPhone 11 for the whole family On Us.</h2>
                <p class="offer-body">Get 4 lines of Unlimited for $35/line and a new iPhone included with each line and
                    <a href="https://www.t-mobile.com/content/t-mobile/consumer/modals/prospect-hp-iphone-4for35.html">qualifying iPhone</a> trade-in. </p>
                <div class="row offer-body-link-parent">
                    <div class="col-12 col-sm-12 col-md-4 mb-4 p-0">
                        <a class="offer-body-link" href="https://www.t-mobile.com/cell-phone/apple-iphone-11?icid=WMM_TMO_P_19APPL435_P4M9LWOW4YNM260I18639">Check it out
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 p-0">
                        <a class="offer-body-link" href="https://www.t-mobile.com/store-locator?icid=WMM_TMO_P_19APPL435_8BUO57V1HWWWPD1Q818638">Find a store
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
                    </div>
                </div>
                <div class="row offer-footer">
                    <div class="col-12 col-sm-12 col-md-12 p-0">
                        <p>
                            With AutoPay, 4 new lines, and 4 eligible iPhone trade-ins. Via 24 monthly bill credits.
                            <b>If you cancel wireless service, credits may stop & remaining balance is due.</b> For well-qualified customers. $30 for Essentials + $5 iPhone. During congestion, Essentials customers may notice speeds lower than other customers
                            and further reduction if using >50GB/mo. Video @ 480p. + taxes & fees.
                            <a href="https://www.t-mobile.com/#">See full terms</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-12 col-sm-6 p-0 col-md-6 pr-0">
            <div class="shop-now img-margin-bottom pt-5 pl-4 pr-4 text-center">
                <h2>Buy a Samsung
                    <span>Galaxy S10</span>
                    <span>Galaxy Note10,</span>
                    <span>one free.</span>
                </h2>
                <div>
                    <p class="margin">Via 24 monthly bill credits when you add a line. </p>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <a class="shop-now-link" href="https://www.t-mobile.com/cell-phones/brand/samsung?icid=WMM_TMO_P_19SMSGBOGO_RBZQVK6FKYASXMJSD18888_HP">Shop now
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
                    </div>
                </div>
                <div class="row offer-footer">
                    <div class="col-12">
                        <p>
                            <b>If you cancel wireless service, credits may stop & remaining balance on required finance agreements may be
                  due.</b> 2nd device equal or lesser value, for well-qualified customers. +tax.
                            <a href="https://www.t-mobile.com/#">See full terms
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <img class="samsung-img " src="../../../assets/home/fg-Samsung-BOGO_3-Device-Lockup_S10_S10e_Note10_SPen_HOLIDAY-logo-k.png" alt="">
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 p-0 col-md-6 pl-0 text-center">
            <div class="upcomming pt-5">
                <div>
                    <h2>Nationwide 5G is coming to
                        <span>Vayo</span> on
                        <span>December 6.</span>
                    </h2>
                </div>
                <div>
                    <a href="https://www.t-mobile.com/coverage/4g-lte-5g-networks?icid=WMM_TMO_P_19NETWRK5G_91WOGGGY1WERV94JC18747">Find out more
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
                </div>
                <div class="offer-footer">
                    <p>
                        <a href="https://www.t-mobile.com/#">See full terms
                <i class="fa fa-angle-right" aria-hidden="true"></i>
              </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row  mb-3">
        <div class="col-12 col-sm-6 col-md-6 p-0 pr-0 text-center">
            <div class="plan img-margin-bottom pt-5">
                <h2>Find the perfect plan</h2>
                <p>
                    <a href="https://www.t-mobile.com/cell-phone-plans?icid=WMM__P_TMOHOMEPGE_J1PN6TRQDVM63MLX18880">See Options
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
                </p>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 p-0 pl-0 text-center">
            <div class="gifting pt-5">
                <h2>Ring the gifting.</h2>
                <p>
                    <a href="https://www.t-mobile.com/offers/deals-hub?icid=WMM__P_19HOL_X37RYHJ85HAAU8VS18875">Bring on the deals
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
                </p>
            </div>
        </div>
    </div>
</div>